<a href="https://colab.research.google.com/github/lchebib/SeeQoolPlaces/blob/main/data/data-cleaning/clean_ca_restaurants.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Import pandas, create dataframe, and explore data
[link text](https://)

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
prefix = '/content/drive'
from google.colab import drive
drive.mount(prefix, force_remount=True)

Mounted at /content/drive

In [ ]:
file_path = '/content/drive/MyDrive/Fall 2021/550/Group Project/Datasets/Raw Scraped Data/restaurants_ca.csv'

In [ ]:
restaurants_ca = pd.read_csv(file_path)

In [ ]:
restaurants_ca.head()

                          restaurant_name  ...                            categories
0                            HQ Gastropub  ...                 Japanese,American,Bar
1                                  n/naka  ...                  Japanese,Sushi,Asian
2                      Agora Churrascaria  ...         Steakhouse,Brazilian,Barbecue
3  Andrei's Conscious Cuisine & Cocktails  ...  American,International,Mediterranean
4                              Yard House  ...                      American,Bar,Pub

[5 rows x 6 columns]

In [ ]:
restaurants_ca.dtypes #data types of each column

restaurant_name    object
rating             object
num_reviews        object
rank_in_city       object
cost               object
categories         object
dtype: object

In [ ]:
restaurants_ca.shape #(rows, columns)

(102340, 6)

In [ ]:
usage_by_col = restaurants_ca.memory_usage(deep=True) # returns memory usage for each column
total_usage = usage_by_col.sum()
mbs = total_usage / 1e6 # convert to megabytes 
mbs

40.330752

# Drop Rows with Null Names

In [ ]:
restaurants_ca = restaurants_ca[restaurants_ca.restaurant_name.notnull()]
restaurants_ca.rename(columns={'restaurant_name':'name'}, inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [ ]:
restaurants_ca.dtypes #data types of each column

name            object
rating          object
num_reviews     object
rank_in_city    object
cost            object
categories      object
dtype: object

In [ ]:
restaurants_ca.shape #(rows, columns)

(101972, 6)

In [ ]:
restaurants_ca.head(20)

                                      name  ...                                  categories
0                             HQ Gastropub  ...                       Japanese,American,Bar
1                                   n/naka  ...                        Japanese,Sushi,Asian
2                       Agora Churrascaria  ...               Steakhouse,Brazilian,Barbecue
3   Andrei's Conscious Cuisine & Cocktails  ...        American,International,Mediterranean
4                               Yard House  ...                            American,Bar,Pub
5                             El Taco Loco  ...                                     Mexican
6                        The Goat and Vine  ...          American,Pizza,Vegetarian Friendly
7                            El Burrito Jr  ...                       Mexican,Latin,Spanish
8                              Curry House  ...          Japanese,Asian,Vegetarian Friendly
9                     Turquoise Restaurant  ...        Mediterranean,Healthy,Middle Eastern
10              Martha's 22nd Street Grill  ...           American,Cafe,Vegetarian Friendly
11                      Vino Volo Wine Bar  ...                            American,Bar,Pub
12                        Ten Asian Bistro  ...                        Japanese,Sushi,Asian
13                             900 Grayson  ...                         American,Cafe,Diner
14                               Bowl Thai  ...                                  Asian,Thai
15                               DiCicco's  ...           Italian,Pizza,Vegetarian Friendly
16                 Patsy's Country Kitchen  ...  American,Vegetarian Friendly,Vegan Options
17                           Y-Not Burgers  ...               Fast food,Vegetarian Friendly
18                    Pinwheel Cafe Bakery  ...                                 French,Cafe
19                Angara Indian Restaurant  ...    Indian,Vegetarian Friendly,Vegan Options

[20 rows x 6 columns]

#Split attraction_category



*   category
*   tag

In [ ]:
n = len(pd.unique(restaurants_ca['categories'])) # see number of unique categories values 
print("No.of.unique values :", 
      n)

No.of.unique values : 3351

In [ ]:
# # make new column 'category' whose value is first category in 'categories'
# restaurants_ca['category'] = restaurants_ca['categories'].str.split(',').str[0]

In [ ]:
restaurants_ca.head(20)

                                      name  ...                                  categories
0                             HQ Gastropub  ...                       Japanese,American,Bar
1                                   n/naka  ...                        Japanese,Sushi,Asian
2                       Agora Churrascaria  ...               Steakhouse,Brazilian,Barbecue
3   Andrei's Conscious Cuisine & Cocktails  ...        American,International,Mediterranean
4                               Yard House  ...                            American,Bar,Pub
5                             El Taco Loco  ...                                     Mexican
6                        The Goat and Vine  ...          American,Pizza,Vegetarian Friendly
7                            El Burrito Jr  ...                       Mexican,Latin,Spanish
8                              Curry House  ...          Japanese,Asian,Vegetarian Friendly
9                     Turquoise Restaurant  ...        Mediterranean,Healthy,Middle Eastern
10              Martha's 22nd Street Grill  ...           American,Cafe,Vegetarian Friendly
11                      Vino Volo Wine Bar  ...                            American,Bar,Pub
12                        Ten Asian Bistro  ...                        Japanese,Sushi,Asian
13                             900 Grayson  ...                         American,Cafe,Diner
14                               Bowl Thai  ...                                  Asian,Thai
15                               DiCicco's  ...           Italian,Pizza,Vegetarian Friendly
16                 Patsy's Country Kitchen  ...  American,Vegetarian Friendly,Vegan Options
17                           Y-Not Burgers  ...               Fast food,Vegetarian Friendly
18                    Pinwheel Cafe Bakery  ...                                 French,Cafe
19                Angara Indian Restaurant  ...    Indian,Vegetarian Friendly,Vegan Options

[20 rows x 6 columns]



#Parse city and category, and cast columns

In [ ]:
# Create 'category' column
restaurants_ca['category'] = restaurants_ca['rank_in_city'].str.split(' ').str[3]

# Rename 'categories' to 'tags and comma-separate
restaurants_ca.rename(columns={'categories':'tags'}, inplace=True)

# Create 'city' and 'state' columns
restaurants_ca['city'] = restaurants_ca['rank_in_city'].str.split(' in ').str[1]
restaurants_ca['state'] = 'CA'

# # Create 'rank_city' and 'num_attractions_city' columns and cast to int
# restaurants_ca['rank_city'] = restaurants_ca['rank_in_city'].str.split(' ').str[0].str.strip('#').str.replace(',', '')
# restaurants_ca['rank_city'].fillna(0).astype(int) # NaN is converted to 0
# restaurants_ca['num_attractions_city'] = restaurants_ca['rank_in_city'].str.split(' ').str[2].str.replace(',', '')
# restaurants_ca['num_attractions_city'].fillna(0).astype(int) # NaN is converted to 0
restaurants_ca.drop('rank_in_city', axis=1, inplace=True)

# Cast column 'num_reviews' to type int
restaurants_ca['num_reviews'] = restaurants_ca['num_reviews'].str.replace(',', '')
restaurants_ca['num_reviews'].fillna(0).astype(int)

# Cast column 'rating' to type int
restaurants_ca['rating'] = restaurants_ca['rating'].str.split(' ').str[0]
restaurants_ca['rating'].astype(float)

0         4.5
1         5.0
2         4.0
3         4.0
4         4.0
         ...
102335    0.0
102336    0.0
102337    0.0
102338    0.0
102339    0.0
Name: rating, Length: 101972, dtype: float64

In [ ]:
restaurants_ca.head(30)

                                      name rating  ...              city state
0                             HQ Gastropub    4.5  ...  Huntington Beach    CA
1                                   n/naka    5.0  ...       Los Angeles    CA
2                       Agora Churrascaria    4.0  ...            Irvine    CA
3   Andrei's Conscious Cuisine & Cocktails    4.0  ...            Irvine    CA
4                               Yard House    4.0  ...            Irvine    CA
5                             El Taco Loco    3.5  ...       Bakersfield    CA
6                        The Goat and Vine    4.5  ...          Temecula    CA
7                            El Burrito Jr    4.0  ...          Torrance    CA
8                              Curry House    4.0  ...          Torrance    CA
9                     Turquoise Restaurant    4.5  ...     Redondo Beach    CA
10              Martha's 22nd Street Grill    4.5  ...     Hermosa Beach    CA
11                      Vino Volo Wine Bar    4.5  ...         Santa Ana    CA
12                        Ten Asian Bistro    4.0  ...     Newport Beach    CA
13                             900 Grayson    4.5  ...          Berkeley    CA
14                               Bowl Thai    4.0  ...           Gardena    CA
15                               DiCicco's    4.0  ...            Fresno    CA
16                 Patsy's Country Kitchen    4.0  ...          Temecula    CA
17                           Y-Not Burgers    4.5  ...          Torrance    CA
18                    Pinwheel Cafe Bakery    4.5  ...          Torrance    CA
19                Angara Indian Restaurant    4.5  ...          Torrance    CA
20                     Hey 19 Public House    4.0  ...          Torrance    CA
21                             Mimi's Cafe    4.0  ...          Torrance    CA
22                             Tokyo Table    4.0  ...            Irvine    CA
23                     Paradise Restaurant    4.0  ...           Gardena    CA
24                   Shakey's Pizza Parlor    4.0  ...           Fontana    CA
25                Hunan Chinese Restaurant    4.5  ...            Fresno    CA
26                         S & J Gran Cafe    4.5  ...      Garden Grove    CA
27                         Blazing Noodles    4.0  ...          Temecula    CA
28                 Red Ginger China Bistro    4.0  ...          Temecula    CA
29                           Kantaro Sushi    4.5  ...          Torrance    CA

[30 rows x 8 columns]

# Re-categorize



*   Restaurant
*   Cafe
*   Bar
*   Quick Bites
*   Bakery
*   Specialty Food Market

In [ ]:
restaurants_ca['temp'] = restaurants_ca['name'] + ' ' + restaurants_ca['category'] + ' ' + restaurants_ca['tags']

restaurants_ca['category'] = np.nan

cafe = ['cafe', 'coffee']
bar = ['bar', 'pub', 'wine']
bakery = ['dessert', 'pie', 'cake', 'bakery']
quick_bites = ['quick bites', 'fast food', 'speciality']
brewery = ['brewery']

for index in restaurants_ca.index:
  
  if any(keyword in str(restaurants_ca['temp'][index]).lower() for keyword in cafe):
    restaurants_ca['category'][index] = 'Cafe'
  elif any(keyword in str(restaurants_ca['temp'][index]).lower() for keyword in brewery):
    restaurants_ca['category'][index] = 'Brewery'
  elif any(keyword in str(restaurants_ca['temp'][index]).lower() for keyword in bar):
    restaurants_ca['category'][index] = 'Bar'
  elif any(keyword in str(restaurants_ca['temp'][index]).lower() for keyword in bakery):
    restaurants_ca['category'][index] = 'Bakery'
  elif any(keyword in str(restaurants_ca['temp'][index]).lower() for keyword in quick_bites):
    restaurants_ca['category'][index] = 'Quick bites'
  else:
    restaurants_ca['category'][index] = 'Restaurant'

restaurants_ca.drop('temp', axis=1, inplace=True)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

In [ ]:
restaurants_ca.head()

                                     name rating  ...              city state
0                            HQ Gastropub    4.5  ...  Huntington Beach    CA
1                                  n/naka    5.0  ...       Los Angeles    CA
2                      Agora Churrascaria    4.0  ...            Irvine    CA
3  Andrei's Conscious Cuisine & Cocktails    4.0  ...            Irvine    CA
4                              Yard House    4.0  ...            Irvine    CA

[5 rows x 8 columns]

In [ ]:
n = len(pd.unique(restaurants_ca['category'])) # see number of unique category values 
print("No.of.unique categories :", 
      n)

print(restaurants_ca['category'].unique())

No.of.unique categories : 6
['Bar' 'Restaurant' 'Cafe' 'Quick bites' 'Bakery' 'Brewery']

# Rename Category to Subcategory

In [ ]:
restaurants_ca.rename(columns={'category': 'subcategory'}, inplace=True)

In [ ]:
restaurants_ca.head()

                                     name rating  ...              city state
0                            HQ Gastropub    4.5  ...  Huntington Beach    CA
1                                  n/naka    5.0  ...       Los Angeles    CA
2                      Agora Churrascaria    4.0  ...            Irvine    CA
3  Andrei's Conscious Cuisine & Cocktails    4.0  ...            Irvine    CA
4                              Yard House    4.0  ...            Irvine    CA

[5 rows x 8 columns]

# Split cost to cost_low and cost_high; delete cost

In [ ]:
restaurants_ca['cost_low'] = restaurants_ca['cost'].str.split(' ').str[0].str.len()
restaurants_ca['cost_low'].fillna(0).astype(int) # NaN is converted to 0

# this sets cost_high to be the second set of dollar signs
# if there is not a second set of dollar signs, cost_high gets set to what cost_low is
restaurants_ca['cost_high'] = np.where(restaurants_ca['cost'].str.split('- ').str[1].str.len() > 1, restaurants_ca['cost'].str.split('- ').str[1].str.len(), restaurants_ca['cost'].str.split('- ').str[0].str.len())
restaurants_ca['cost_high'].fillna(0).astype(int) # NaN is converted to 0

restaurants_ca.drop('cost', axis=1, inplace=True)

In [ ]:
restaurants_ca.head()

                                     name rating  ... cost_low cost_high
0                            HQ Gastropub    4.5  ...      2.0       3.0
1                                  n/naka    5.0  ...      4.0       4.0
2                      Agora Churrascaria    4.0  ...      4.0       4.0
3  Andrei's Conscious Cuisine & Cocktails    4.0  ...      2.0       3.0
4                              Yard House    4.0  ...      2.0       3.0

[5 rows x 9 columns]

#Add suggested_duration

In [ ]:
# add duration based on cost_high

restaurants_ca['suggested_duration'] = ''

for index in restaurants_ca.index:
  
  if (restaurants_ca['cost_high'][index] == 4.0):
    restaurants_ca['suggested_duration'][index] = '2-3 hours'
  elif (restaurants_ca['cost_high'][index] == 3.0):
    restaurants_ca['suggested_duration'][index] = '1-2 hours'
  elif (restaurants_ca['cost_high'][index] == 2.0):
    restaurants_ca['suggested_duration'][index] = '1-2 hours'
  elif (restaurants_ca['cost_high'][index] == 1.0):
    restaurants_ca['suggested_duration'][index] = '< 1 hour'
  else: 
    restaurants_ca['suggested_duration'][index] = '1-2 hours'

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()

In [ ]:
restaurants_ca.head()

                                     name rating  ... cost_high suggested_duration
0                            HQ Gastropub    4.5  ...       3.0          1-2 hours
1                                  n/naka    5.0  ...       4.0          2-3 hours
2                      Agora Churrascaria    4.0  ...       4.0          2-3 hours
3  Andrei's Conscious Cuisine & Cocktails    4.0  ...       3.0          1-2 hours
4                              Yard House    4.0  ...       3.0          1-2 hours

[5 rows x 10 columns]

# Add PID and category

In [ ]:
restaurants_ca.insert(0, 'PID', range(20122, 20122 + len(restaurants_ca)))

In [ ]:
restaurants_ca.head()

     PID                                    name  ... cost_high suggested_duration
0  20122                            HQ Gastropub  ...       3.0          1-2 hours
1  20123                                  n/naka  ...       4.0          2-3 hours
2  20124                      Agora Churrascaria  ...       4.0          2-3 hours
3  20125  Andrei's Conscious Cuisine & Cocktails  ...       3.0          1-2 hours
4  20126                              Yard House  ...       3.0          1-2 hours

[5 rows x 11 columns]

In [ ]:
restaurants_ca.shape

(101972, 11)

In [ ]:
# this is the last restaurant
restaurants_ca.loc[restaurants_ca['PID'] == 122093]

           PID               name  ... cost_high suggested_duration
102339  122093  Hot Flaming Grill  ...       NaN          1-2 hours

[1 rows x 11 columns]

In [ ]:
restaurants_ca['category'] = 'restaurants'

In [ ]:
restaurants_ca.head(30)

      PID  ...     category
0   20122  ...  restaurants
1   20123  ...  restaurants
2   20124  ...  restaurants
3   20125  ...  restaurants
4   20126  ...  restaurants
5   20127  ...  restaurants
6   20128  ...  restaurants
7   20129  ...  restaurants
8   20130  ...  restaurants
9   20131  ...  restaurants
10  20132  ...  restaurants
11  20133  ...  restaurants
12  20134  ...  restaurants
13  20135  ...  restaurants
14  20136  ...  restaurants
15  20137  ...  restaurants
16  20138  ...  restaurants
17  20139  ...  restaurants
18  20140  ...  restaurants
19  20141  ...  restaurants
20  20142  ...  restaurants
21  20143  ...  restaurants
22  20144  ...  restaurants
23  20145  ...  restaurants
24  20146  ...  restaurants
25  20147  ...  restaurants
26  20148  ...  restaurants
27  20149  ...  restaurants
28  20150  ...  restaurants
29  20151  ...  restaurants

[30 rows x 12 columns]

# create duration_low and duration_high

In [ ]:
pd.unique(restaurants_ca['suggested_duration'])

array(['1-2 hours', '2-3 hours', '< 1 hour'], dtype=object)

In [ ]:
# cases: '1-2 hours', '2-3 hours', '< 1 hour'
restaurants_ca['duration_low'] = ''
restaurants_ca['duration_high'] = ''


for index in restaurants_ca.index:
  
  if (restaurants_ca['suggested_duration'][index] == '< 1 hour'):
    restaurants_ca['duration_low'][index] = .5
    restaurants_ca['duration_high'][index] = 1.0
  if (restaurants_ca['suggested_duration'][index] == '1-2 hours'):
    restaurants_ca['duration_low'][index] = 1.0
    restaurants_ca['duration_high'][index] = 2.0
  if (restaurants_ca['suggested_duration'][index] == '2-3 hours'):
    restaurants_ca['duration_low'][index] = 2.0
    restaurants_ca['duration_high'][index] = 3.0

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

In [ ]:
restaurants_ca.head(20)

      PID                                    name  ... duration_low duration_high
0   20122                            HQ Gastropub  ...            1             2
1   20123                                  n/naka  ...            2             3
2   20124                      Agora Churrascaria  ...            2             3
3   20125  Andrei's Conscious Cuisine & Cocktails  ...            1             2
4   20126                              Yard House  ...            1             2
5   20127                            El Taco Loco  ...          0.5             1
6   20128                       The Goat and Vine  ...            1             2
7   20129                           El Burrito Jr  ...          0.5             1
8   20130                             Curry House  ...            1             2
9   20131                    Turquoise Restaurant  ...            1             2
10  20132              Martha's 22nd Street Grill  ...            1             2
11  20133                      Vino Volo Wine Bar  ...            1             2
12  20134                        Ten Asian Bistro  ...            1             2
13  20135                             900 Grayson  ...            1             2
14  20136                               Bowl Thai  ...            1             2
15  20137                               DiCicco's  ...            1             2
16  20138                 Patsy's Country Kitchen  ...            1             2
17  20139                           Y-Not Burgers  ...          0.5             1
18  20140                    Pinwheel Cafe Bakery  ...            1             2
19  20141                Angara Indian Restaurant  ...            1             2

[20 rows x 14 columns]

In [ ]:
restaurants_ca['duration_high'].isnull().sum() #make sure that the new columns have no null values

0

In [ ]:
# restaurants_ca.to_csv(r'/content/drive/MyDrive/Fall 2021/550/Group Project/Datasets/Clean Scraped Data/clean_restaurants_ca.csv', index=False)